<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userEntity" class="com.jiyu.entity.UserEntity">
        <property name="userName" value="jiyu"></property>
        <property name="userId" value="10"></property>
    </bean>
</beans>